.h0 {
  font-size: $h0;
}

.nav-controls {
  position: fixed;
  bottom: 1.25rem;
  right: 1rem;
  line-height: 1;
  z-index: 11;
}

.btn-icon {
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: baseline;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: top;
}

.h-100 { height: 100%; }

.absolute { position: absolute; }
.bottom-0 { bottom: 0; }
.top-0 { top: 0; }
.left-0 { left: 0; }
.right-0 { right: 0; }

.sans-serif { font-family: $font-sans-serif; }

.center-align { text-align: center; }

